<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
 {% comment %} <a class="grid-view-item__link grid-view-item__image-container" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>{% endcomment %}

{% comment %}  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>{% endcomment %}
  
  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">
    {% comment %}<a href="{{ product.url | within: collection }}">{{ product.title }}</a>{% endcomment %}
    {{ product.title }}
  </div>

  {% include 'product-price', variant: product %}

  {% if product.type != 'Leather Belts' %}
  	<a href="{{ product.url | within: collection }}" class="product-colors-secondary">All Colours</a>
  {% endif %}
      
{% comment %}{% include 'preorder-now-collection-item' %}{% endcomment %}
</div>